%h3 New Comment

=form_for([@project, @issue, @comment]) do |f|
	.form-group
		.field
			=f.label :comment, class: 'control-label'
			=f.text_area :body, class: 'form-control'

	.form-group
		.field
			=f.submit 'Create', class: 'btn btn-primary'
