.top
  %h3 Issues
  =link_to 'New Issue', new_project_issue_path, class: 'btn btn-primary right'

-@issues.each do |issue|
  //-issue.kind == 'Improvement' ? @color = 'panel-danger' : @color = 'panel-success'
  .list-item
    %h4=link_to "#{issue.identifier} #{issue.title}", project_issue_path(params[:project_id], issue.id)
    %p 
      %b Kind:
      %span{class: "issue-#{issue.kind.downcase}"}=issue.kind
    %p=issue.description
    =link_to 'Edit', edit_project_issue_path(params[:project_id], issue.id)
    =link_to 'Delete', project_issue_path(params[:project_id], issue.id), method: :delete