%h1 Issues

%h4
  =link_to 'New Issue', new_project_issue_path

-@issues.each do |issue|
  //-issue.kind == 'Improvement' ? @color = 'panel-danger' : @color = 'panel-success'
  .panel.panel-default
    .panel-heading
      =link_to "#{issue.title}", project_issue_path(params[:project_id], issue.id)
      =issue.kind
    .panel-body
      =issue.description
    .panel-footer
      =link_to 'edit', edit_project_issue_path(params[:project_id], issue.id)
      =link_to 'delete', project_issue_path(params[:project_id], issue.id), method: :delete
