%h3="#{@issue.identifier} #{@issue.title}"

#issue-info
  %p
    %b Kind:
    =@issue.kind
    %b Status:
    =@issue_status
  %p
    =@issue.description

%h4.header Comments
-@comments.each do |comment|
  .list-item
    %p=comment.body

%p
  =link_to 'Add a comment', new_project_issue_comment_path(@project, @issue)

=link_to 'Edit', edit_project_issue_path(params[:project_id], @issue.id)
=link_to 'Delete', project_issue_path(params[:project_id], @issue.id), method: :delete