.top
  %h3 
    Use Cases
  =link_to 'New Use Case', new_project_use_case_path(@project), class: 'btn btn-primary right'

-@use_cases.each do |use_case|
  .list-item
    %h4=link_to "#{use_case.identifier} #{use_case.title}", project_use_case_path(@project, use_case) 
    %h5 
      Priority:
      = use_case.priority
    %p=use_case.description
    =link_to 'Edit', edit_project_use_case_path(@project, use_case)
    =link_to 'Delete', project_use_case_path(@project, use_case), method: :delete, :data => { :confirm => 'Are you sure?' }
