%h2.page-header
	Projects
	=link_to 'New Project', new_project_path, class: 'btn btn-primary right'

- @projects.each do |project|
	.col-md-4
		.project-thumbnail
			.caption
				%h3.name= link_to project.name, project_path(project)
				%p.description= project.description