%h3 Description
%p= @project.description

%h3 Scope
%p= @project.scope

- if @project.user_id == @user.id
	=link_to 'Add tester', project_new_tester_path(@project)
	=link_to 'Edit', edit_project_path(@project)
	=link_to 'Delete', project_path(@project), method: :delete, :data => { :confirm => 'Are you sure?' }