%h1
  =@project.name

%h3
  =link_to "Use Cases", project_use_cases_path(@project)
%h3
  Issues
%h3
  =link_to "Test cases", project_test_cases_path(@project)
%h3
  =link_to "Requirements", project_requirements_path(@project)
%h3
  =link_to "Test runs", project_test_runs_path(@project)

