%h1
  =@project.name

%h3
  =link_to "Use Cases", project_use_cases_path(@project)
%h3
  =link_to 'Issues', project_issues_path(@project.id)
%h3
  =link_to "Test cases", project_test_cases_path(@project)
%h3
  Requirements

