%p.notice= notice
%h1 Listing test_runs

%h4
  =link_to 'New Test Run', new_project_test_run_path(@project), id: :button

%table
  %thead
    %tr
      %th Date
      %th
      %th
      %th

  %tbody
    - @test_runs.each do |test_run|
      %tr
        %td= test_run.date
        %td= link_to 'Show', project_test_run_path(@project, test_run)
        %td= link_to 'Destroy', project_test_run_path(@project, test_run), :method => :delete, :data => { :confirm => 'Are you sure?' }

=link_to "Back", @project