- if notice
  %p#notice= notice

.top
  %h3
    Test cases
  =link_to 'New Test Case', new_project_test_case_path(@project), class: 'btn btn-primary right'

-@test_cases.each do |test_case|
  .list-item
    %h4=link_to "#{test_case.identifier} #{test_case.title}", project_test_case_path(@project, test_case) 
    %p=test_case.description
    =link_to 'Edit', edit_project_test_case_path(@project, test_case)
    =link_to 'Delete', project_test_case_path(@project, test_case), method: :delete, :data => { :confirm => 'Are you sure?' }
