// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-thumbnail {
	border: 1px solid #ddd;
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	border-radius: 4px;

	.caption {
		padding: 9px;

		.name {
			text-align: center;
			border-bottom: 1px solid #ddd;
			margin-top: 0;
		}
	}

}